name: flutter_native_bridge_example
description: "Demonstrates how to use the flutter_native_bridge plugin."
publish_to: 'none'

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  flutter_native_bridge:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
